// Mixins in here
@phone = ~"(min-width: 500px)";


/* parametric mixin to create buttons */

.custom-layout(@justify-content: center; @align-items: center; @flex-direction:row) {
    display: flex;
    justify-content: @justify-content;
    align-items: @align-items;
    flex-direction: @flex-direction;
  }

  .custom-button(@width; @font-color) {
  
    display: block;
    background-color: rgba(32, 126, 129, 0.185);
    color: @font-color;
    margin: 0 10px 20px;
    cursor: pointer;
    width: @width;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
  }